<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Introductory words by Patric Hagmann</td> </tr>
      <tr> <td>09:00</td>  <td>Get to know each other</td> </tr>
      <tr> <td>09:30</td>  <td>Building the Connectome</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Diffusion and Tractography</td> </tr>
      <tr> <td>11:00</td>  <td>EEG Basics</td> </tr>
      <tr> <td>11:30</td>  <td>Electrical Source Imaging</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{ root }}01-01-tuto1/">Tutorial 1 - Brain Imaging Data Structure BIDS</a></td> </tr>
      <tr> <td>14:00</td>  <td>Tutorial 2 - Anatomical and Diffusion pipelines</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td>Tutorial 3 - EEG pipeline</td> </tr>
      <tr> <td>16:30</td>  <td>Social event</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Analysis of Brain Networks</td> </tr>
      <tr> <td>09:30</td>  <td>Functional Connectivity (FC) and Dynamic FC</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Combining Structure and Function</td> </tr>
      <tr> <td>11:00</td>  <td>Connectome Spectral Analysis</td> </tr>
      <tr> <td>11:30</td>  <td>Computational Modelling</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Tutorial 4 - Dynamic Functional Connectivity</td> </tr>
      <tr> <td>14:30</td>  <td>Tutorial 5 - Connectome Spectral Analysis</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Tutorial 6 - Computational Modelling</td> </tr>
      <tr> <td>16:40</td>  <td>Wrap up by Serge Vulliemoz</td> </tr>
    </table>
  </div>
</div>
