<h3 id="setup">Tutorial setup instructions</h3>


<h4>Install Virtual Box</h4>

<p>
  <ul>
    <li>Go to the VirtualBox Download page: <a href="https://www.virtualbox.org/wiki/Downloads">https://www.virtualbox.org/wiki/Downloads</a>.</li>
    <li>Select the link from the "VirtualBox 6.1.26 platform packages" section that matches your system.</li>
    <br>
    <li><strong>For Windows 10 users:</strong>
      <ul>
        <li> Double-click the downloaded executable file (Windows Installer 1.1 or higher is required).</li>
        <li> Select default options in installation dialog.</li>
        <li> The installer will create a "VirtualBox" group in the Windows Start menu.</li>
        <li> For more detailed step-by-step instructions,
          <a href="https://websiteforstudents.com/installing-virtualbox-windows-10/">look here</a></li>
      </ul>
    </li>
    <li><strong>For Mac users:</strong>
      <ul>
        <li> Double-click on the downloaded dmg file to have its contents mounted</li>
        <li> A window will open telling you to double click on the VirtualBox.pkg installer file displayed in that window.</li>
        <li> This will start the installer, which will allow you to select where to install VirtualBox to.</li>
        <li> For more detailed step-by-step instructions,
          <a href="https://websiteforstudents.com/installing-virtualbox-windows-10/">look here</a>.</li>
      </ul>
    </li>
    <li><strong>For Ubuntu users:</strong>
      <ul>
        <li> Step-by-step instructions can be found <a href="https://websiteforstudents.com/install-virtualbox-latest-on-ubuntu-16-04-lts-17-04-17-10/">here</a>.</li>
      </ul>
    </li>
  </ul>

</p>

<h4>Download and import the VM image file</h4>

<p>
  <ul>
    <li>Download from [TO BE COMING]</li>
    <li>To import the scss21-training.ova file:
      <ul>
        <li> Open VirtualBox on your computer.</li>
        <li> select "File" -> "Import Appliance" from the VirtualBox menu.</li>
        <li> Click through the import wizard dialog leaving the default settings (see <a href="https://docs.oracle.com/cd/E26217_01/E26796/html/qs-import-vm.html">here</a> for example step-by-step instructions).</li>
      </ul>
    </li>
  </ul>
</p>

<p>
  <b>Note:</b> You will needs at least 50GB of space available 
</p>


<h4>Starting the VM</h4>

<ul>
  <li>Open VirtualBox on your computer</li>
  <li>Choose "scss21-training" from the menu on the left and press "start" (the green arrow) to start the Ubuntu virtual machine.</li>
</ul>

<h4>Issues</h4>

<ul>
  <li>If you have a windows 10 pro 64 bit (eg Lenovo X1C) machine and get an error like: 
  vt-x/amd-v hardware acceleration is not available on your system, <a href="https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v#enable-the-hyper-v-role-through-settings">look here</a>.</li>
  <li>if you are unable to install VirtualBox due to virtualization technology (VT-x) not being enabled on your system, <a href="https://docs-old.fedoraproject.org/en-US/Fedora/13/html/Virtualization_Guide/sect-Virtualization-Troubleshooting-Enabling_Intel_VT_and_AMD_V_virtualization_hardware_extensions_in_BIOS.html">look here</a>.</li>
</ul>
