<h3 id="setup_virtualbox">Getting ready with the summerschool virtual machine</h4>

<h4 id="install_virtualbox">Install Virtual Box</h4>

<p>
  <ol>
    <li>Go to the VirtualBox Download page: <a href="https://www.virtualbox.org/wiki/Downloads">https://www.virtualbox.org/wiki/Downloads</a>.</li>
    <br>
    <li>Select the link from the "VirtualBox 6.1.26 platform packages" section that matches your system.</li>
    <br>
    <li><strong>For Windows 10 users:</strong>
      <ul>
        <li> Double-click the downloaded executable file (Windows Installer 1.1 or higher is required).</li>
        <li> Select default options in installation dialog.</li>
        <li> The installer will create a "VirtualBox" group in the Windows Start menu.</li>
        <li> For more detailed step-by-step instructions,
          <a href="https://websiteforstudents.com/installing-virtualbox-windows-10/">look here</a></li>
      </ul>
    </li>
    <li><strong>For Mac users:</strong>
      <ul>
        <li> Double-click on the downloaded dmg file to have its contents mounted</li>
        <li> A window will open telling you to double click on the VirtualBox.pkg installer file displayed in that window.</li>
        <li> This will start the installer, which will allow you to select where to install VirtualBox to.</li>
        <li> For more detailed step-by-step instructions,
          <a href="https://websiteforstudents.com/installing-virtualbox-windows-10/">look here</a>.</li>
      </ul>
    </li>
    <li><strong>For Ubuntu users:</strong>
      <ul>
        <li> Step-by-step instructions can be found <a href="https://websiteforstudents.com/install-virtualbox-latest-on-ubuntu-16-04-lts-17-04-17-10/">here</a>.</li>
      </ul>
    </li>
    <br>
    <li>
      Install the extension pack that will allow you to share files between the virtual machine and your personal computer. It can easily download from the following <a href="https://download.virtualbox.org/virtualbox/6.1.26/Oracle_VM_VirtualBox_Extension_Pack-6.1.26.vbox-extpack">link</a>.
    </li>
  </ul>
</p>

<h4 id="install_vm_image">Download and import the VM image file</h4>

<p>
  <ul>
    <li>Download from [TO BE COMING]</li>
    <li>To import the scss21-training.ova file:
      <ul>
        <li>Open VirtualBox on your computer.</li>
        <li>Select "File" -> "Import Appliance" from the VirtualBox menu.</li>
        <li>Click through the import wizard dialog leaving the default settings (see <a href="https://docs.oracle.com/cd/E26217_01/E26796/html/qs-import-vm.html">here</a> for example step-by-step instructions).</li>
        <li>Once the VM is imported, Choose "scss21-training" from the menu on the left -> Click "Settings" -> Go to "Shared Folders" tab -> Add your new shared folder.</li>
      </ul>
    </li>
  </ul>
</p>

<p>
  <b>Note:</b> You will needs at least 50GB of space available 
</p>


<h4 id="start_vm">Start the VM</h4>

<ul>
  <li>Open VirtualBox on your computer</li>
  <li>Choose "scss21-training" from the menu on the left and press "start" (the green arrow) to start the Ubuntu virtual machine.</li>
</ul>

A few tools included in the VM require the use of a license and so you will need to provide your own at first use. More details are provided in the two next sections.

<h4 id="start_vm">FreeSurfer license</h4>
<p>
  A license key must be obtained to make the FreeSurfer tools operational. Obtaining a license is free and comes in the form of a license.txt file.
  <ol>
    <li>*Get one:* if you do not have a Freesurfer license.txt key file yet, you can get one at the following <a href="https://surfer.nmr.mgh.harvard.edu/registration.html">link</a></li> 
    <li>*Install:*  Once you obtain the license.txt file, download it inside the VM (for instance you can use the shared folder previously configured) and copy it to the FreeSurfer installation directory (i.e. "$HOME/Softwares/freesurfer" defined by the $FREESURFER_HOME environment variable).</li> 
  </ol>
</p>

<h4 id="start_vm">Trackvis license</h4>
<p>
  A license key must be obtained to be able to use Trackvis, a tool for viewing fibers reconstructed with tractography. 
  <ol>
    <li>*Get one:* if you do not have a Trackvis license key yet, you can get one by creating a new account at the <a href="http://www.trackvis.org/download/">download request page</a> of Trackvis website.</li> 
    <li>*Validate:*  Once your account is created and you have received the email with a summary of your Name / Institution / License Key, you can start Trackvis. To do so, open a terminal and type trackvis. Fill the fields with the information in the email and type "OK". Congrats, you are all set!</li> 
  </ol>
</p>

<h4 id="issues">Issues</h4>

<ul>
  <li>If you have a windows 10 pro 64 bit (eg Lenovo X1C) machine and get an error like: 
  vt-x/amd-v hardware acceleration is not available on your system, <a href="https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v#enable-the-hyper-v-role-through-settings">look here</a>.</li>
  <li>if you are unable to install VirtualBox due to virtualization technology (VT-x) not being enabled on your system, <a href="https://docs-old.fedoraproject.org/en-US/Fedora/13/html/Virtualization_Guide/sect-Virtualization-Troubleshooting-Enabling_Intel_VT_and_AMD_V_virtualization_hardware_extensions_in_BIOS.html">look here</a>.</li>
</ul>
